<nb-card>
  <nb-card-body>
    <h5 id="title" class="title text-center form-title">Listado de ofertas de venta</h5>
    <div class="row mb-2">
      <div class="col-md-12 col-lg-12 d-flex justify-content-end">
        <button nz-button nzType="primary">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          Nuevo
        </button>
      </div>     
    </div>
    <div class="row">
      <div class="col">
        <nz-table
          nzShowSizeChanger
          [nzData]="listOfRandomUser"
          [nzFrontPagination]="false"
          [nzLoading]="false"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQueryParamsChange($event)">
          <thead>
            <tr>
              <th nzColumnKey="name" [nzSortFn]="true">Name</th>
              <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Gender</th>
              <th nzColumnKey="email" [nzSortFn]="true">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfRandomUser">
              <td>{{ data.name.first }} {{ data.name.last }}</td>
              <td>{{ data.gender }}</td>
              <td>{{ data.email }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
