<nb-card>
  <nb-card-body>
    <h5 id="title" class="title text-center form-title">Listado de ofertas de venta</h5>
    <div class="row mb-2">
      <div class="col-md-12 col-lg-12 d-flex justify-content-end">
        <button nz-button nzType="primary">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          Nuevo
        </button>
      </div>     
    </div>
    <div class="row">
      <div class="col">      
        <p-table styleClass="p-datatable-gridlines p-datatable-sm" 
            [value]="quotations" 
            [lazy]="true" 
            (onLazyLoad)="onLazyLoad($event)" 
            responsiveLayout="scroll" 
            dataKey="id"
            [paginator]="true" 
            [rows]="pageSize" 
            [totalRecords]="totalRecords" 
            [loading]="loading" 
            [scrollable]="true"
            scrollHeight="500px"
            [virtualScroll]="true"             
            [globalFilterFields]="['docNum', 'cardcode', 'cardName', 'docDate', 'docStatus', 'docCur']">

          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="column.name" *ngFor="let column of columns">
                {{column.title}}
                <p-columnFilter *ngIf="column.filter" [type]="column.filterType" field="{{column.name}}" display="menu"></p-columnFilter>
              </th>
            </tr>          
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr>                
                <td *ngFor="let column of columns">{{ customer[column.name] }}</td>                  
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>